.wrapper {
  background: var(--black);
  margin-top: 10rem;
  height: 9rem;
  min-width: 10rem;
  font-size: 4rem;
  color: var(--text-color-main);
  border-radius: 5rem;
  padding: 0 6rem;
  border: 2px solid var(--text-color-main);
  text-transform: uppercase;
}