@use "sass:color";

.wrapper {
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem 2rem;
  background: #356f1b;
  border: 3px solid color.adjust(#356f1b, $lightness: 15%);
  border-radius: 8px;
  position: relative;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.label {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.rock {
  background: var(--rock-main-color);
  border-color: var(--rock-secondary-color);

  .label {
    color: var(--rock-secondary-color);
  }
}

.paper {
  background: var(--paper-main-color);
  border-color: var(--paper-secondary-color);

  .label {
    color: var(--paper-secondary-color);
  }
}

.scissors {
  background: var(--scissors-main-color);
  border-color: var(--scissors-secondary-color);

  .label {
    color: var(--scissors-secondary-color);
  }
}
