@use 'sass:color';

.wrapper {
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem 2rem;
  background: #356f1b;
  border-radius: 8px;
  position: relative;
  opacity: 0.93;
  transition: opacity 0.25s ease-in;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid color.adjust(#356f1b, $lightness: 15%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    transition: border-width 0.25s ease-in;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.winner {
  &:after {
    border-width: 6px;
  }
}

.label {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.ROCK {
  background: var(--rock-main-color);

  .label {
    color: var(--rock-secondary-color);
  }

  &:after {
    border-color: var(--rock-secondary-color);
  }
}

.PAPER {
  background: var(--paper-main-color);

  .label {
    color: var(--paper-secondary-color);
  }

  &:after {
    border-color: var(--paper-secondary-color);
  }
}

.SCISSORS {
  background: var(--scissors-main-color);

  .label {
    color: var(--scissors-secondary-color);
  }

  &:after {
    border-color: var(--scissors-secondary-color);
  }
}
