.wrapper {
  position: absolute;
  border-radius: 50%;
  top: 2rem;
  border: 4px solid blue;
  padding: 0.4rem;
  background: var(--white);
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  transition: font-size 0.25s ease-in;
}

.medium {
  //width: 5.5rem;
  //height: 5.5rem;
  font-size: 1.5rem;
  border-color: purple;
}
