:root {
  --black: #000;
  --white: #fff;

  --header-height: 5rem;

  --text-color-main: #eabc79;

  --rock-main-color: #221f4d;
  --rock-secondary-color: #277ce1;

  --paper-main-color: #1a371d;
  --paper-secondary-color: #18bb57;

  --scissors-main-color: #4c0c1e;
  --scissors-secondary-color: #d3153d;

  --background-gradient-from: #606060;
  --background-gradient-to: #2d2d2d;

  --chip-large-border-color: blue;
  --chip-medium-border-color: purple;
  --chip-small-border-color: orange;
}
