@use '@/styles/mixins' as *;

.wrapper {
  @include center-flex;
  height: var(--header-height);
  background: var(--black);
  gap: 5rem;
}

.element {
  @include center-flex;
  width: 15rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--text-color-main);
  gap: 0.5rem;

  span {
    color: var(--white);
  }
}
