@use '@/styles/mixins' as *;

.wrapper {
  @include center-flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  background-image: linear-gradient(var(--background-gradient-from), var(--background-gradient-to));
}
