.wrapper {
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.candidatesLine {
  color: var(--white);
  display: flex;
  gap: 4rem;

  span {
  }
}

.winLine {
  color: var(--text-color-main);
}

.tieLine {
  color: var(--white);
}

.lossLine {
  color: var(--black);
}

.playerWinLine {
  color: var(--text-color-main);
}

.pickPositionsCta {
  margin-top: auto;
  color: var(--text-color-main);
  text-transform: uppercase;
}

.candidateName {
  width: 23rem;
}

.versusLabel {
  color: var(--text-color-main);
  position: relative;
  top: -0.5rem;
}

.ROCK {
  color: var(--rock-secondary-color);
}

.PAPER {
  color: var(--paper-secondary-color);
}

.SCISSORS {
  color: var(--scissors-secondary-color);
}
